<!-- Footer -->
<footer class="footer container-fluid">
        <div class="footer__inner container d-flex justify-content-between p-0">
            <ul class="footer__adres col-12 col-md-6 col-lg-3">
                <h3 class="footer__title">Elsässer Kältetechnik</h3>
                <li>Königsallee 14</li>
                <li>40212 Düsseldorf</li>
            </ul>  
            
            <ul class="footer__kontakt col-12 col-md-6 col-lg-4">
                <h3 class="footer__title">Kontakt</h3>
                <li>Telefon: <a href="#" class="footer__phone">+49 (0) 211 9232 3052</a> </li>
                <li> E-Mail: <a href="#" class="footer__email">info@elsasser-technik.de</a></li>
            </ul>   

            <ul class="footer__Shortlinks col-12 col-md-6 col-lg-3">
                <h3 class="footer__title">Shortlinks</h3>
                <li><a href="#">Kontakt</a> </li>
                <li><a href="#">Rückruf vereinbaren</a></li>
            </ul>  

            <ul class="footer__block col-12 col-md-6 col-lg-2 col-xl-1">
                <li><a href="#">Impressum</a> </li>
                <li><a href="#"> Datenschutz</a></li>
            </ul> 
        </div>
</footer>
