    <!-- header -->
    <header class="header container-fluid">
        <div class="header__inner container">
              <nav class="navbar navbar-expand-xl navbar-light p-0">
                <div class="container-fluid p-0">
                  <a class="navbar-brand" href="#"><img class="img" src="./assets/images/Logo-1.png" width="105px" height="34px" alt="logo"></a>

                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>

                  <div class="header__wrapList collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav col-11 d-flex justify-content-between">
                      <li class="nav-item"><a class="nav-link" aria-current="page" href="#">Über Uns</a></li>

                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Produkte
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </li>

                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Peripherietechnik
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </li>

                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Dienstleistungen
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </li>

                      <li class="nav-item"><a class="nav-link" href="#">Klimatechnik</a></li>

                      <li class="nav-item"><a class="nav-link" href="#">Kontakt</a></li>

                      <li class="nav-item"><a class="nav-link" href="#">Presse</a></li>
                
                    </ul>
                  </div>
                </div>
              </nav>
             </div>
    </header>

