/* Text */
// $fontFamily-1:
$colorTitle-A:#1652AC;
$colorTitle-B:#020303;
$colorParagraphFirst:#020303;
$colorParagraphSecond:#45494F;
$colorTextThird:#FBFDFF;
$colorTextCard:#45494F;
$colorTextList:#45494F;

$fontFamily-1: "NotoSans-Regular" sans-serif;
$fontFamily-2: "noto-sans-semi-bold" sans-serif;
$fontFamily-3: "BBCReithSans_A_Bd" sans-serif;
$fontFamily-4: "BBCReithSerif_Md" sans-serif;


$BackgroundColor-1:#ffffff;
$BackgroundColor-2:#FBFBFC;
$BackgroundThird: linear-gradient(180deg, #163DA2 0%, #003584 100%);


/* Breakpoints */
$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px;
$xxl:1400px;